.App {
  text-align: center;
}

.container {
  background-color: lightgray;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

.paper {
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: whitesmoke;
}

.image {
  align-self: left;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
}

button{
  background-color:whitesmoke;
}

button:focus{background-color:darkgrey;}

a:active {
  color: darkgrey;
}